<table class='table table-striped'>
  <tbody>
    <% @players.each do |player| %>
    <tr title="<%= player.full_name %>">
      <td>
        <span class="label important"><%= player.position %></span>
      </td>
      <td>
         <%= player.first_name %>
      </td>
      <td>
         <%= player.last_name %>
      </td>
      <td>
         <%= player.pro_team %>
      </td>
      <td>
        <%= player.chance(@team.next_pick.number) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>