<h1>Drafts#show</h1>
<p>Find me in app/views/drafts/show.html.erb</p>
<p>Your CBS ID is <%= @user.cbs_id %></p>

<p>The system has assigned you a draft id of <%= @draft.id %> </p>

<p>Your league name is <%= @league.name %> </p>

<p>Your team name is <%= @team.name %>, which is pretty unimaginative </p>

<%= @user.team %>

<%= @mega_hash %>

