
<!--********** Everything but the header ********** -->

<div class='container-fluid'>
  <h1> <%= @league.name %></h1> <h2>(<%= @team.name %>)</h2>
  <div class='row-fluid'>

<!--********** The Left Panel / Players ********** -->

  <div class='span8'>
    <div class='panel'>
      <div class='well' id='left-panel'>


        <!--****************** Search Bar ***************-->
        <form class="well form-search">
          <h3>Players:
          <input type="text" class="search-term" placeholder='Search...'>
        </form></h3>
        
        <!--****************** Player Table *************-->

        <div id='players-scroll'>
          <table class='table table-striped'>
            <tbody>
              <% @players.each do |player| %>
                <tr class="ajaxPlayerRow" id="<%= player.id %>" title="<%= player.full_name %>" data-load="/players/<%= player.id %>?team=<%= @team.id %>">
                  <td>
                    <span class="label important"><%= player.position %></span>
                  </td>
                  <td class='player-first-name'>
                     <%= player.first_name %>
                  </td>
                  <td class='player-last-name'>
                     <%= player.last_name %>
                  </td>
                  <td class='player-team-name'>
                     <span class="<%= player.pro_team.downcase %>" ><%= player.pro_team %></span>
                  </td>
                </tr>
              <% end %>
			
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!--********** The Right Panel ********** -->

    <div class='span4'>
      <div class='panel'>
<!--********** The Feed Box *********** -->

        <div class='well' id='feed'>
          <h3>Live Feed:</h3>
          <div id='feed-scroll'>
          </div>
        </div>

<!--********** The Roster Box *********** -->

        <div id='roster' class='well'>
          <table class='table table-striped'>
            <h3>Your Roster:</h3>
            <tbody>
            <% @team.slots.order(:created_at).each do |s| %>
            <tr>
              <td>
              <span class="label important"><%= s.eligible_positions %></span>
              </td>
              <td> <%= s.player ? s.player.full_name : '--' %>
              </td>
            </tr>
            <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= root_url %>


<p>Your CBS ID is <%= @user.cbs_id %></p>

<p>The system has assigned you a draft id of <%= @draft.id %> </p>

<p>Your league name is <%= @league.name %> </p>

<p>Your team name is <%= @team.name %>, which is pretty unimaginative </p>

<p>You have picks:</p>
  <ul>
    <% @team.picks.order('number ASC').each do |p| %>
      <li>Round <%= p.round.number %> - Pick <%= p.number %></li>
    <% end %>
  </ul>
<p>XXXXXXXXXXXXXXX</p>
<p><%= @user.inspect %></p>
<p><%= @draft.inspect %></p>
<p><%= @league.inspect %></p>
<p><%= @team.inspect %></p>
<p><%= @slot.inspect %></p>
<p><%= @round.inspect %></p>
<p><%= @pick.inspect %></p>


<!-- These are our ajax calls -->

<script>

// Popovers
    
    $('.ajaxPlayerRow').click(function(){
      // set el to the player row
      var el = $(this);

      // the css is more interesting and lives in the draft css.
      var loadingDiv = '<div class="loading"></div>'

      // defines the (loading) popover object and calls it with 'show'
      el.popover({content: loadingDiv,
                  trigger: 'manual',
                  html: true})
        .popover('show');

      // Select the popover that just got created
      var playerPopover = $('.popover').last();

      // provides the method to close popovers by clicking on them
      playerPopover.click(function(){
        $(this).remove();
      });
      
      // ajax call to get the player data
      $.get(el.attr('data-load'), function(data){
        // Select the div where the content should go
        var popoverWindow = playerPopover.children('.popover-inner')
                              .children('.popover-content')
                              .children('p')
                              .first();
        // clear out the loading div  
        popoverWindow.empty();
        // replace it with the player data
        popoverWindow.append(data).hide().fadeIn();
      });
    });




// Search
$('.search-term')
  .keydown(function(event){
    if (event){
      var searchTerm = $('.search-term').val();
      $('#players-scroll tr').hide();
      if(searchTerm === ""){
        $('#players-scroll tr').show();
        event.preventDefault();
      }
      else{
        $(searchIndex[searchTerm]).show();
        event.preventDefault();
      }
    };
    
  });

// Set at an interval of 3 seconds

setInterval(function(){
  $.ajax({
    type:"PUT",
    dataType: 'script',
    url: '<%= "#{@url}?access_token=#{@access}&user_id=#{@user.id}" %>',
    complete: function () {
      //console.log('complete');
    },
    error: function (jqXHR, textStatus, errorThrown) {
      //console.log(jqXHR.responseText);
      //console.log(textStatus);
      //console.log(errorThrown);
    },
    success: function(data) {
      //console.log("Success");
    }
  });
}, 3000);

</script>
