
<!--********** Everything but the header ********** -->

<div class='container-fluid'>
  <div class='row-fluid'>

<!--********** The Left Panel / Players ********** -->

  <div class='span8'>
    <div class='panel'>
      <div class='well' id='left-panel'>
        <form class="well form-search">
          <h3>Players:
          <input type="text" class="search">
            <button type="submit" class="btn">Search</button>
        </form></h3>
        <div id='players-scroll'>
          <table class='table table-striped'>
            <tbody>
              <% @players.each do |s| %>
              <tr data-name="<%= s.full_name %>" id="<%= s.id %>">
                <td>
                  <span class="label important"><%= s.position %></span>
                </td>
                <td >
                   <%= s.first_name %>
                </td>
                <td>
                   <%= s.last_name %>
                </td>
                <td>
                   <%= s.pro_team %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

<!--********** The Right Panel ********** -->

    <div class='span4'>
      <div class='panel'>
<!--********** The Feed Box *********** -->

        <div class='well' id='feed'>
          <h3>Live Feed:</h3>
          <div id='feed-scroll'>
          </div>
        </div>

<!--********** The Roster Box *********** -->

        <div id='roster' class='well'>
          <table class='table table-striped'>
            <h3>Your Roster:</h3>
            <tbody>
            <% @team.slots.order(:created_at).each do |s| %>
            <tr>
              <td>
              <span class="label important"><%= s.eligible_positions %></span>
              </td>
              <td> <%= s.player ? s.player.full_name : '--' %>
              </td>
            </tr>
            <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= root_url %>


<p>Your CBS ID is <%= @user.cbs_id %></p>

<p>The system has assigned you a draft id of <%= @draft.id %> </p>

<p>Your league name is <%= @league.name %> </p>

<p>Your team name is <%= @team.name %>, which is pretty unimaginative </p>

<p>You have picks:</p>
  <ul>
    <% @team.picks.order('number ASC').each do |p| %>
      <li>Round <%= p.round.number %> - Pick <%= p.number %></li>
    <% end %>
  </ul>
<p>XXXXXXXXXXXXXXX</p>
<p><%= @user.inspect %></p>
<p><%= @draft.inspect %></p>
<p><%= @league.inspect %></p>
<p><%= @team.inspect %></p>
<p><%= @slot.inspect %></p>
<p><%= @round.inspect %></p>
<p><%= @pick.inspect %></p>

<%= @mega_hash %>

<!-- This is our ajax calls -->

<script>

// Search
$('.search').keyup(function(){
  $('#players-scroll').empty()

  var search = $('.search').val()

  $('#players-scroll').append(" <%=j render(:partial => 'search', :locals => { :search => '' , :players => @players }) %>" )
});

// Set at an interval of 3 seconds

setInterval(function(){
  $.ajax({
    type:"PUT",
    dataType: 'script',
    url: '<%= "#{@url}?access_token=#{@access}&user_id=#{@user.id}" %>',
    complete: function () {
      console.log('complete');
    },
    error: function (jqXHR, textStatus, errorThrown) {
      console.log(jqXHR.responseText);
      console.log(textStatus);
      console.log(errorThrown);
    },
    success: function(data) {
      console.log("Success");
    }
        })
}, 3000);

</script>
