<h1>Drafts#show</h1>
<p>Find me in app/views/drafts/show.html.erb</p>
<p>Your CBS ID is <%= @user.cbs_id %></p>

<p>The system has assigned you a draft id of <%= @draft.id %> </p>

<p>Your league name is <%= @league.name %> </p>

<p>Your team name is <%= @team.name %>, which is pretty unimaginative </p>

<p>You have picks <%= @team.picks.select(&:number) %>

<p><%= @user.inspect %></p>
<p><%= @draft.inspect %></p>
<p><%= @league.inspect %></p>
<p><%= @team.inspect %></p>
<p><%= @slot.inspect %></p>

<%= @mega_hash %>

