//console.log("Inserting new HTML");
<% unless UpdatesAndInserts::UsersAndDrafts.update_draft(:access_token => params[:access_token], :draft => @user.drafts.first ) %>
	$('#roster').empty();
	$('#roster').append(' <%=j render :partial => "roster" %>');

	// ********************* Search Bar Logic ***********************************************
	var searchIndex = {};
	$('#players-scroll tr').each(function(index, tr){
	  $.each(['.label', '.player-first-name', '.player-last-name', '.player-team-name'], function(i, selector){
	    var searchText = $.trim($(tr).find(selector).text());
	    searchIndex[searchText] || (searchIndex[searchText] = []);
	    searchIndex[searchText].push(tr);
	  });
	});



	//***************************************************************************************


	$('#feed-scroll').empty()
	$('#feed-scroll').prepend('<% @feed.each do |f| %> <p> <span class="feed_team"><%= f[:team] %></span><%= "  picked #{f[:player]} #{f[:position]} #{f[:pro_team]}" %></p> <%end%>');


	<% @players_drafted.each do |player| %>
		$('#<%= player.id %>').css('opacity', '0.4')
		$('#<%= player.id %>_modal').empty();
		$('#<%= player.id %>_modal').append("<tr class='player-row' id='<%= player.id %>' title='<%= player.full_name %>' data-content='<p>There is a <span class='label'><%= player.chance(@team.next_pick.number).round(2) %>%</span> chance that this player will still be available at pick <span class='badge'><%= @team.next_pick.number %></span> (your next pick).</p>'>");
	<% end %>

	// Pop over
	$('.player-row').popover();
<% end %>

//console.log("Finished inserting HTML");