<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Drafthacker" %></title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">DraftHacker</a>
          <div class="container-fluid">
            <ul class="nav pull-right">
              <li><a href="#"><%= @user.team.owners.first.name if @user %></a></li>
            </ul>
            <ul class="nav">
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" style="width: 775 px">

        	<% flash.each do |key,message| %>
        		<%= content_tag :div, message, :class => "alert alert-#{key}" %>
        	<% end %>
          <%= yield %>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <%= params.inspect %>
  </body>
</html>
